<div class="nested-fields">
  <div class="row mb-1">
    <div class="col-md-11">
      <%= f.text_field :option, class: "form-control" %>
    </div>
    <div class="col-md-1">
      <%= link_to_remove_association "X", f, class: "btn btn-danger" %>
    </div>
  </div>
</div>