<div class="jumbotron">
  <h1 class="display-4">Build your custom form</h1>
  <p class="lead">This is a simple form builder unit, a simple google form like form builder to response from users.</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Build Custom Form", new_basic_form_path, class: "btn btn-primary btn-lg" %>
  </p>
  <p class="lead">
    <%= link_to "Build Multistep Form", new_multistep_form_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <%= link_to "View All Submissions", submissions_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>