<div class="jumbotron">
  <h1 class="display-4">Build your custom form</h1>
  <p class="lead">This is a simple form builder unit, a simple google form like form builder to response from users.</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Build First Custom Form", new_basic_form_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
<div class="conteiner">
  <div class="row mt-5">
    <div class="">
  </div>
</div>