<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center">New Multistep Form</h4>
        </div>
        <div class="card-body">
          <%= render 'form', multistep_form: @multistep_form %>
          <%= link_to 'Back', multistep_forms_path %>
        </div>
      </div>
    </div>
  </div>
</div>

