<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 card">
    <h1>New Feedback Form</h1>
    <hr>

    <%= render 'form', feedback_form: @feedback_form %>

    <%= link_to 'Back', feedback_forms_path %>
  </div>
  <div class="col-sm-3"></div>
</div>