<nav class="navbar navbar-light bg-dark navbar-expand-md">
	<button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
	data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span>
	&#x2630;
  </button> 
	<a class="navbar-brand navbar-color"
	href="#">CFB</a>
	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li class="active nav-item"><a href="/" class="nav-link navbar-color" >Home</a>
			</li>
		</ul>
		<ul class="nav navbar-nav ml-auto">
			<% if user_signed_in? %>
				<li class="nav-item"><%= link_to "Log Out", destroy_user_session_path, class: "nav-link", method: :delete %></li>
				<li class="nav-item"><%= link_to "edit", edit_user_registration_path, class: "nav-link" %></li>
			<% else %>
				<li class="nav-item"><%= link_to "Log In", new_user_registration_path, class: "nav-link" %></li>
			<% end %>
		</ul>
	</div>
</nav>

<style type="text/css">
	.navbar li a, .navbar-brand {color:#fff !important;} 
</style>